a {
  color: black;
}
.hoverlink:hover {
  color: white;
  background-color: #555;
  border-radius: 20px;
}
.navbar-brand {
  color: black;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar-brand:hover {
  color: black;
  font-weight: lighter;
  letter-spacing: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logout {
  border: none;
  background-color: white;
  color: black;
}
/* .logout:hover {
  color: white;
  background-color: #03a9f4;
  border-radius: 20px;
} */
.wrapper {
  width: 400px;
  min-height: 500px;
  margin: auto auto;
  padding: 40px 30px 30px 30px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrapper-2 {
  width: 500px;
  min-height: 500px;
  margin: auto auto;
  padding: 40px 30px 30px 30px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrapper-3 {
  width: 100px;
  height: 500px;
  margin: auto auto;
  padding: 40px 30px 30px 30px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.logo {
  width: 80px;
  margin: auto;
}

.logo img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7,
    -8px -8px 15px #fff;
}

.wrapper .name {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.wrapper .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  /* font-size: 1.2rem; */
  padding: 10px 15px 10px 10px;
  color: #555;
  /* border: 1px solid red; */
}
.color {
  color: #03a9f4;
}
.dropdown-toggle {
  background-color: white;
  box-shadow: none;
  color: black;
  border: none;
}
.dropdown-toggle:focus {
  background-color: #555;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  outline: 0;
}
.dropdown-toggle:hover {
  background-color: #555;
  box-shadow: none;
  color: white;
  border-radius: 20px;
  outline: 0;
}
.dropdown-item:focus:hover {
  background-color: white;
  color: black;
  border: none;
  outline: 0;
}
.dropdown-menu,
.dropdown-menu:hover {
  background-color: white;
}
.wrapper .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .color {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03a9f4;
  color: #fff;
  border-radius: 25px;
  /* box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff; */
  letter-spacing: 1.3px;
}

.wrapper .color:hover {
  background-color: black;
  color: white;
}

.wrapper a {
  text-decoration: none;
  font-weight: 2px;
  color: #03a9f4;
}

.wrapper a:hover {
  color: black;
  text-decoration: underline;
}

@media (max-width: 380px) {
  .wrapper {
    margin: 30px 20px;
    padding: 40px 15px 15px 15px;
  }
}
.reg :hover {
  background-color: white;
  color: #039be5;
}
.card {
  margin-top: 5px;
  /* opacity: 0.85; */
  height: auto;
  width: auto;
}
.card h4 {
  text-align: center;
  font-weight: bold;
}

.cardhw {
  height: auto;
  width: 600px;
}
.card-footer {
  background: transparent;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 3px;
}
.accord {
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}
.bluee {
  background-color: #03a9f4;
  color: white;
}
.btnhover {
  background-color: #555;
  color: white;
}
.btnhover:hover {
  background-color: black;
  color: white;
}
.cardo {
  background-color: white;
  height: 550px;
  width: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0px 2px 7px;
  padding: 8px;
  margin-top: 25px;
  /* border: 1px solid red; */
}

.appointment {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appointimg {
  width: 50%;
  height: 50vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* border: 1px solid pink; */
}

.imgholder {
  height: auto;
  width: 100%;
  background-image: url("../images/appointImg.jpg");
  background-size: cover;
  position: sticky;
}

@media only screen and (max-width: 600px) {
  .card {
    display: flex;
    flex-direction: column;
  }

  .appointment {
    order: 2;
  }
  .appointimg {
    order: 1;
  }
}
